@use '@angular/material' as mat;

@include mat.core();

// Define theme
$dashboard-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$dashboard-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$dashboard-warn: mat.m2-define-palette(mat.$m2-red-palette);

$dashboard-theme: mat.m2-define-dark-theme((
  color: (
    primary: $dashboard-primary,
    accent: $dashboard-accent,
    warn: $dashboard-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($dashboard-theme);

// Global styles
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
